<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Landmark</title>
</head>

<body>
  <a href="/landmarks">All Landmarks</a>
  <form action="/landmarks" method="POST">
    <label for="name">Enter Name:</label>
    <input type="text" id="name" name="landmark[name]">
    <br>
    <label for="location">Enter location:</label>
    <input type="text" id="location" name="landmark[location]">
    <br>
    <button>Create</button>
  </form>
</body>

</html>